.inner_paper {
  display: flex;
  flex: 1;
  margin: var(--mantine-spacing-md);
  padding: var(--mantine-spacing-md);
}
.inner_paper_stack {
  width: 100%;
}

.centered_header {
  font-weight: 300;
  font-size: large;
  text-align: center;
}

.file_upload {
  background-color: var(--mantine-color-gray-light);
  min-height: 7vh;
  flex: 1;

  color: var(--mantine-color-text);
  border-radius: var(--mantine-radius-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;

  &[data-accept] {
    color: var(--mantine-color-white);
    background-color: var(--mantine-color-blue-6);
  }

  &[data-reject] {
    color: var(--mantine-color-white);
    background-color: var(--mantine-color-red-6);
  }
}
