# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE
/.vscode

# Dependencies
/.venv
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Build output
/frontend/node_modules
/frontend/.next

# Database
backend/db.sqlite3
backend/media/chat

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
__pycache__

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
backend/backend.log
backend/django.log
