celery
datasets
django
django-filter
django-cors-headers
django-celery-results
djangorestframework
djangorestframework-simplejwt
gunicorn
numpy
psycopg2-binary
pylint
pylint-django
requests
requests-toolbelt
redis
transformers
setuptools