.root {
	width: 100%;
	flex: 1;
}

.paper {
	flex: 1;
}

.stack {
	padding: var(--mantine-spacing-md);
}

.value {
	font-size: rem(24px);
	font-weight: 700;
	line-height: 1;
}

.icon {
	color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.title {
	font-weight: 300;
	text-transform: uppercase;
}
