.table {
  width: 100%;
  max-height: 50vh;
  background-color: var(--mantine-color-default);
  color: var(--mantine-text-color);
}

/* Headers */

.thead {
  background-color: var(--mantine-color-default);
  color: var(--mantine-text-color);
}

.fileHeader {
  text-align: left;
  cursor: pointer;
  padding: var(--mantine-spacing-md);
}

.actionHeader {
  text-align: center;
  padding: var(--mantine-spacing-md);
}

.filesHeader {
  margin: var(--mantine-spacing-md);
  margin-bottom: 0px;
  margin-right: 0px;
}

.fileHeader:hover,
.actionHeader:hover {
  background-color: var(
    --mantine-color-default-hover
  ); /* Light tint on hover */
}

.sortIcon {
  margin-left: 1rem; /* Space between text and icon */
  align-items: center;
}

.drawer {
  pointer-events: none;
  box-shadow: none;
}

.tbody {
  background-color: var(--mantine-color-default);
  color: var(--mantine-text-color);
}

.tr {
  background-color: var(--mantine-color-default);

  &:nth-child(even) {
    background-color: var(--mantine-color-default-light);
  }

  color: var(--mantine-text-color);
}

.fileCell {
  /* Fixed width for the file name column */
  padding: var(--mantine-spacing-md);
  white-space: nowrap;
}

.propCell {
  padding: var(--mantine-spacing-md);
  text-align: center;
}

.actionCell {
  padding: var(--mantine-spacing-md);
  text-align: center;
}

.button {
  margin-left: var(--mantine-spacing-md);
  /* Adjust spacing between file name and action buttons */
}

.actionGroup {
  background-color: var(--mantine-color-default-hover);
  border-radius: 0.5rem;
  padding: var(--mantine-spacing-sm);
}

.iconCheck {
  color: var(--mantine-color-green-6);
  size: 16;
}

.iconX {
  color: var(--mantine-color-red-6);
  size: 16;
}

.rowSelected {
  background-color: var(--mantine-color-blue-light);
}

.mainPaper {
  width: 100%;
  height: 100%;
  margin: var(--mantine-spacing-md);
  border-radius: 0px;
}

@media (max-width: 768px) {
  .table {
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .tbody {
  }
}
