.root {
	width: 100%;
}

.mainPaper {
	z-index: 2;
}

.textLabel {
	font-weight: 300;
}

.chart {
	height: 23vh;
	width: 100%;
	min-height: 100px;
	min-width: 100px;
}

.title {
	margin-bottom: 0px;
	font-weight: 300;
	text-transform: uppercase;
}

.innerGroup {
	padding: var(--mantine-spacing-md);
}
