.dateRoot {
	width: 100%;
}

.button {
	background-color: var(--mantine-color-body);
	border-style: solid;
	border-width: 1px;
	border-color: var(--mantine-color-default-border);
	color: var(--mantine-color-text);
	width: 100%;
}

.textLabel {
	font-weight: 300;
	text-transform: uppercase;
}

.dropdown {
	border-radius: 1rem;
	width: auto;
	height: auto;
}

.calendarHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	max-width: 360px;
}

.calendarHeaderControl {
	align-items: center;
	width: 5rem;
	justify-content: center;
	display: flex;
}

.month {
	width: 360px;
}
